header {
    position: relative;
    padding: 0 2rem;
}

.navegation-bar {
    line-height: 100%;
    font-family: 'Bricolage Grotesque', sans-serif;
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navegation-title {
    font-weight: 800;
    font-size: 1.875rem;
    color: white;
}

a {
    color: white;
    font-size: 1.25rem;
    text-decoration: none;
    transition: 0.2s ease-in-out;
}

 a:hover{
    color: orange;
}

.navegation-bar .navegation-links {
    display: flex;
    gap: 2rem;
}

.navegation-bar .button-toggle {
    color: #FFF;
    font-size: 2rem;
    cursor: pointer;
    display: none;
}

.navegation-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 7rem;
    height: 2.5rem;
    background-color: orange;
    color: #FFF;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 4px;
    font-size: 1.2rem;
    font-weight: 800;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.navegation-button:hover {
    color: #FFF;
    scale: 1.05;
    background-color: chocolate;
}

/* Menu toggle */
.menu-dropdown {
    display: none;
    position: absolute;
    right: 2rem;
    width: 305px;
    top: 60px;
    height: 0;
    background: #04011F;
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.menu-dropdown.open {
    height: 315px;
}

.menu-dropdown .menu-links {
    font-family: 'Bricolage Grotesque', sans-serif;
}

.menu-dropdown li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-dropdown .navegation-button {
    width: 100%;
    display: flex;
    justify-content: center;
}

/* Design responsivo */
@media (max-width: 992px) {
    .navegation-bar .navegation-links,
    .navegation-bar .navegation-button {
        display: none;
    }

    .navegation-bar .button-toggle {
        display: block;
        color: #FFF;
    }

    .menu-dropdown {
        display: block;
    }

    @media (max-width: 576px) {
        .menu-dropdown {
            left: 2rem;
            width: unset;
        }
    }
}
